

.row
{
    border: solid 1px black; 
}

.col-6, .col-4, .col-3
{
    border: solid 1px green ; 
}

.navbar
{
    background-color: blue;
    .custom-toggler.navbar-toggler {
        border-color: rgb(255,102,203);
      } 
    ul, li
 {
    list-style: none;
    
 }
}
.xx
{
    background-color: green;
}