

$pink: #f70757;
.row
{
    border: solid 1px black; 
}

body{

    a {
        text-decoration : none;
    }
    h1, h2
    {
        font-size: 60px;
        font-weight: bold;
    }
    h3
    {
        font-size: 25px;
    }
    .col-6, .col-4, .col-3
    {
        border: solid 1px green ; 
    }
    button
    {
        background-color: $pink;
        border: $pink;
        border-radius : 25px;
        color: white;
        padding : 10px 15px 10px 15px;
        font-weight: lighter;
        font-size: 14px;
    }
    img
        {
           overflow: auto;
        }
    color: white;
    
}

.navbar
{
   .custom-toggler.navbar-toggler 
    {
        border-color: $pink;
    } 
   .navbarContent
   {
       display: flex;
   } 
}

.container-1
{
    background-image: url("/images/header-banner.jpg");
    .content1
    {
        padding-left: 5vw;  
        
    }
    p
    {
        font-size: 20px;
    }
    
}

.container-2
{
    background-image: url('/images/statistics-bg.png');
    height: 20vh;
    .col
    {
        text-align: center;
        color: black;
        margin-top: 2vh;
        .title, .chiffer
        {
            font-weight: bold;
            &__red
            {
                color:#b30000;
            }
            &__pink
            {
                color: $pink;
            }
            &__orange
            {
                color:#e65c00;
            }
            &__violet
            {
                color:#5900b3;
            }
        }
        .title
        {
            font-size: 20px;
        }
        .chiffer
        {
            font-size: 30px;
        }
    }


}
ul, li a
{
    list-style: none;
    color: white;   
}

li a:hover
{
    color:  $pink;
}
      
       
